.button {
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  border-width: 0px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  color: #EC823E;
  background-color: #F7F8FD;

  &--orange{
    padding: 0;
    padding-left: 30px;
    padding-right: 35px;
    color: #FFE3BB;
    background-color: #EC823E;
  }
     
  &__icon{
    &--plus{
      background-image: url('../../../public/images/icon-plus.svg');
    }
  
    &--minus {
      background-image: url('../../../public/images/icon-minus.svg');
    }
  
    &--add { 
      padding-left: calc(30px + 30px);
      background-position-x: 30px;
      background-position-y: center;
      background-image: url("../../../public/images/icon-cart.svg");      
    }

    &--previous{
      background-image: url('../../../public/images/icon-previous.svg');
    }

    &--next{
      background-image: url('../../../public/images/icon-next.svg');
    }

    &--delete{
      background-image: url('../../../public/images/icon-delete.svg');
    }
  }
}
