.product-detail{
  font-weight: bold;

  &__title{
    font-size: 35px;
    margin-top: 12px;
  }
  
  &__subtitle{
    color: orange;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  &__description{
    font-weight: 200;
    margin-top: 16px;
  }

  &__price{
    font-size: 25px;
    margin-top: 30px;
  
    & span{
      color: orange;
      margin-left: 10px;
      font-size: 15px;
      background-color: #FFEFDF;
      border-radius: 5px;
      padding: 3px;
    }
  } 
  &__original-price{
    margin-top: 5px;
    color: #d1d1d1;
    text-decoration: line-through;
  }
}
