.product-detail{
  font-weight: bold;

  &__title{
    font-size: 24px;
  }
  
  &__subtitle{
    color: orange;
    font-size: 12px;
  }

  &__description{
    font-weight: 200;
  }

  &__price span{
    color: orange;
    margin-left: 10px;
  }

  &__original-price{
    color: #d1d1d1;
    text-decoration: line-through;
  }
}
