.gallery{
  margin: 0 auto;
  text-align: center;

  .gallery-thumbnail{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 10px;

    li img{
      width: 100%!important;  
    }
  }

}


